{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <form style="width:400px" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Login </button>
            <a style="color : black;" href="{% url 'signup' %}">Don't have an account? Sign up</a>
        </form>
        
     
    </body>
</html>

